/* Basic styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    display: flex;
    flex-direction: column; /* Arrange children in a column */
  }


  
  /* end of loading screen */
  .navbar .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .navbar .hamburger span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
  }
  
  /* CSS code for the navbar */
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color:  #1a1a1a;
    color: #fff;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin-right: 1.2rem;
  }
  
  .navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
    position: relative;
  }
  
  .navbar ul li a:hover {
    cursor: pointer;
  }
  
  .navbar ul li a::before,
  .navbar ul li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: green;
    transition: width 0.3s;
  }
  
  .navbar ul li a::before {
    left: 50%;
  }
  
  .navbar ul li a::after {
    right: 50%;
  }
  
  .navbar ul li a:hover::before,
  .navbar ul li a:hover::after {
    width: 50%;
  }
  
  .navbar #apples-text {
    font-size: 1.5rem;
  }


  #intro-display{

    flex: 50%; 
    
    position: sticky; 
    top: 0; 
    
  }

  #learnbutton {
    font-family: verdana;
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 1rem;
    text-shadow: 0px 0px 0px #000000;
    box-shadow: 2px 3px 1px #000000;
    padding: 1vw 2vw;
    border-radius: 29px;
    border: 2px double #000000;
    background: #EE3737;
    z-index: 3;
  }
  #learnbutton:hover {
    color: #FFFFFF !important;
    background: #57FF62;
  }
  
  /* CSS code for the mobile view */
  
  
  .content {
    flex: 1; /* Allow content to expand and fill remaining space */
    padding: 30px;
    font-size: 1rem; /* Use rem units for font size */
  }
  .footer {
    background-color: #333;
    color: #fff;
    height: 5vh;
    width: 100%;
    text-align: center;
  }

  #intro2 {

    align-items: center;
    height: 100%;
    
    display: flex;
  }

  #intro{

  
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 90vh;
  background-image: url("images/apple.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 1); /* adjust the opacity here */
  border: 2px solid black;
  
  }

  #intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  }

  

  #intro h2 {
  padding-top: 0%;
  color: white;
  margin-bottom: 2rem;
  font-size: 5rem;
  text-align: center;
  display: block;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 1); /* Add a text border with shadow */
  }

  #intro h3 {
    color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 1); /* Add a text border with shadow */
  margin-top: 0;
  }

  #intro p {
  color: beige;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0;
  }

  #controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  
  #left-arrow {
    cursor: pointer;
    font-size: 3rem;
    margin-left: 2rem; /* Adjust the margin as needed */
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  
  #right-arrow {
    cursor: pointer;
    font-size: 3rem;
    margin-right: 2rem; /* Adjust the margin as needed */
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  
  #indicators {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    position: relative; /* Add position relative */
    bottom: 50%; /* Center the indicators vertically */
    transform: translateY(50%);
  }
  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 0.25rem;
    bottom: 0;
    transform: translateY(100%);
  }
  
  .indicator.active {
    background-color: white;
  }
  /* css for container for content of the page css */
  .big-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .content-container {

    background-color: black;
    text-align: center;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .content-container.lifestyle {

    display: flex; background-color: black; height: auto; align-items: center; justify-content: center;
  }

  .content-container.lifestyle > h1 {

    color: white;
  }

  .content-container.History {
    display: flex; background-color: black; height: 90vh; overflow: auto;
  }

  
  #content-side {

    flex: 50%;
    
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

  }

  #content-side > p {

    color: white;
  }

  #content-side > h2 {

    color: white;
  }

  

  
  

 /* css for contents of apple */

  .image-container {

    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-container.good-n-bad {

    background-color: #000000;
  }

  .image-container.lifecycle > h2 {

    color: white;
  }

  .image-container.lifecycle > p {

    color: white;
  }

  .image-container.History-right-side-image {

    background-color: #000000;
    flex: 49.5%; position: sticky; top: 0; height: 100%;
  }



  .image-container img {
    max-width: 100%;
    max-height: 60vh;
  }

  #falling-image {

    width: auto;
    height: 50vh;
  }

  #details-container {

    background-color: #000000;
    flex: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boxes-container {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vw;
  }
  
  .box {

    flex: 25%;
    width: 15vw;
    height: 20vh;
    background-color: #eaeaea;
    border: 1px solid black;
    display: flex; /* Add this to make it a flex container */
  align-items: center; /* Centbler vertically */
  justify-content: center; /* Center horizontally */
    
  font-weight: bold; /* Make the text bold */
    font-size: 1rem;
    color: white; /* Set text color to white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a cool text shadow */
    margin: 10px;
  }
  
  .box.bad {
    font-size: 1rem;

    background-color: #ff5252;
  }

  .box.good {

    font-size: 1rem;
    background-color: #4CAF50;
  }

  .box.display-box {
    font-size: 1.1rem;
    color: black;
    text-shadow: none;
     height: 30vh;
     background-color: white;
  }

  

  .Negative-positive-boxes {

    flex: 25%;
    width: auto;
    height: 10vh;
    background-color: green;
   
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100px;
    font-size: 2rem;
    margin: 1vw;
   
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); /* Enhanced text shadow */
  
  }

  .Negative-positive-boxes.bad{

    background-color: red;
  }

  .animate-image {
    animation-name: cutAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }




  /* end of css for contents of apple */

  /*css for lifecycle of apples */
  #lcbutton {
    font-family: verdana;
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 1rem;
    text-shadow: 0px 0px 0px #000000;
    box-shadow: 2px 3px 1px #000000;
    padding: 1vw 2vw;
    border-radius: 29px;
    border: 2px double #000000;
    background: green;
    display: inline-block;
    
   
  }
  #lcbutton:hover {
    color: #FFFFFF !important;
    background: #57FF62;
  }

  #prevbutton {
    font-family: verdana;
    font-weight: bold;
    color: #FFFFFF ;
    font-size: 1rem;
    text-shadow: 0px 0px 0px #000000;
    box-shadow: 2px 3px 1px #000000;
    padding: 1vw 2vw;
    border-radius: 29px;
    border: 2px double #000000;
    background: green;
    display: inline-block;
    
  }

  #description {

    padding: 2px;
  }
 

  #prevbutton:hover {
    color: #FFFFFF !important;
    background: #57FF62;
  }

  #lifecycle-box {

    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    
    display: flex;
  }

  #lifecycle-image-container{

    flex: 50%; 
    
    position: sticky; 
    top: 0; 
    height: 80vh;
  }

  #title {

    color: white;
  }

  #description {

    color: white;
  }

  .fade-in {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .button-container {
   
   
    display: flex; /* Use flexbox to arrange the buttons horizontally */
    justify-content: center; /* Center the buttons horizontally within the container */
  }

  
  .button-container a {
    margin-right: 10px; /* Optional: Add some spacing between the buttons */
  }

  .button-container.lol {
    margin-top: 1vw;
  }

  /*end of css for life cycle of apples */


  
  @keyframes cutAnimation {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    50% {
      clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  

  /*end line for css for contents of apple */

  

  .left-side {
    flex: 50%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .right-side {

   
    height: auto;
    flex: 50%;
    
    display: flex;
    flex-direction: column;
  }
  
  .image-container {

    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .blue-section {
    flex: 20%;
    background-color: #000000;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blue-section > h1 {

    color: #fff;
  }
  
  .red-section {
    flex: 80%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .red-section > p {

    color: white;;
  }

  

  .red-section > p {

    padding: 5px;
    line-height: 1.5;
    font-size: 20px;
  }

  #Origin {

    margin: 5px 0; /* Adjust the margin as needed */
  }
  
  #image-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem; /* Add some spacing between buttons and image */
  }
  
  #image-buttons button {
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  #apple-image {
    max-width: 100%; /* Set the maximum width to 100% of the container */
    max-height: 100%; /* Set the maximum height to 100% of the container */
    width: auto; /* Allow the width to adjust automatically */
    height: auto; /* Allow the height to adjust automatically */
    object-fit: contain; /* Scale the image while maintaining its aspect ratio */
  }
  
  #types-of-apples-img-container {
    border: solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    max-width: 100%;
    overflow: hidden; /* Hide any content that overflows the container */
  }

  /* Add a style for the images inside the buttons */
#image-buttons img {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  vertical-align: middle; /* To vertically align the image with text */
  /* To add some space between the image and text */
}

  /* Add a style for the selected button */
button.selected {

  border: solid purple;
  
}
  
/* end of css for types of apples


  /* css style for Apple history part */
  /* Hide the default scrollbar */
  .content-container::-webkit-scrollbar {
    width: 0.5em;
  }
  
  /* Track */
  .content-container::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  .content-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1em;
  }
  
  /* Handle on hover */
  .content-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  /* Custom CSS for the additional content containers */
  .additional-content-container {
    display: none;
    background-color: white;
    height: auto;
    width: 40vw;
    padding: 15px;
    margin: 10px;
    flex-direction: column;
    /* opacity: 0; /* Initially hidden */
    /* transition: opacity 0.4s ease-in-out; */ 
    animation: slideDown 0.3s forwards;
  }

  .additional-content-container > p {
    /* Increase the font size for the paragraph */
    font-size: 23px;
    /* You can also adjust line-height for better readability */
    line-height: 1.5;
  }

  .history-content-image {
    max-width: 100%;
    height: auto; /* This maintains the aspect ratio of the image */
    max-height: 60%; /* Limits the height of the image to 40% of its container's height */
  }

  
  
  .header-clicked {
    color: #ff5252; /* A cool red color */
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(255, 82, 82, 0.8); /* A subtle red text shadow */
    box-shadow: 0px 4px 8px rgba(255, 82, 82, 0.4); /* A softer box shadow */
    font-weight: bold; /* Make the text bold for added emphasis */
    transition: all 0.2s ease; /* Add a smooth transition effect */
  }
  
  .additional-content-container p {
    color: black;
  }

  .active {
    display: flex; /* Display when active */
  }

  /* Styles specific to mobile */


/* Keyframes for the fade-in animation */
@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

  /* styling for mini game */

  #minigame {

    color: #4CAF50;
  }
  #game {

    
    height: auto;
    width: 100%;
    align-items: center;
    
    overflow: hidden;
  }
  #game-container {

    background-color: white;
    position: relative;
    width: 80%;
    
    height: auto;
    display: block;
    margin-left: 10%; 
    
    padding-bottom: 35%; /* Maintain a 2:3 aspect ratio (300px / 400px) */
    /* By using the padding-bottom property with a percentage value, you can maintain a consistent aspect ratio regardless of the container's width. The percentage value is calculated based on the container's width, creating a proportional height.*/
    border: 1px solid black;
  }
  
  #basket {
    background-image: url(images/Basket.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10%; /* Adjust the width as needed */
    padding-bottom: 10%; /* Maintain a square shape */
    
  }
  
  #apple {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 8%; /* Adjust the width as needed */
    padding-bottom: 8%; /* Maintain a square shape */
    background-image: url(images/apple.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  #start-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
  }
  
  #lose-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    font-size: 24px;
  }
  

   /* Faq css codes */

   #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contact-form label {
    margin-bottom: 10px;
  }

  #contact-form input {

    margin-bottom: 1px;
    padding-top: 4px;
    padding-right: 10vw;
    padding-bottom: 4px;
    padding-left: 10vw;
  }
  #contact-form textarea {
    margin-bottom: 4vw;
    padding-top: 4vw;
    padding-right: 10vw;
    padding-bottom: 10vw;
    padding-left: 10vw;
  }

  #contact-form button {
    padding: 20px 100px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
   .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  
   #Faq-Box {

    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    background-image: url(images/Faq-background.jpg);
    background-size: cover;
   }

   #Faq-Box > h1,p {

    color: white;
   }
  
   #qr-code-image {
    max-width: 200px;
    max-height: 200px;
  }
  .Faq-button-box {

    display: flex;
  }
  .Faq-buttons {
    font-size: 16px; /* Adjust the font size as needed */
    padding: 10px 20px; /* Adjust padding to control button size */
    margin: 5px; /* Adjust margin to control spacing between buttons */
    
  }

  .big-label {
    color: white;
    font-size: 1.5rem; /* Larger font size for a bigger impact */
    font-weight: bold; /* Make the text bold for emphasis */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
    letter-spacing: 1px; /* Increase the letter spacing for a unique look */
  }
  
  /* Responsive design for mobile and tablet to enhance user expereince */
  @media only screen and (max-width: 800px) {
    .navbar ul {
      display: none;
    }
    
    .navbar .hamburger {
      display: flex;
    }
    
    .navbar .hamburger.active span:nth-child(2) {
      opacity: 0;
    }
    
    .navbar .hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    
    .navbar .hamburger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
    
    .navbar .hamburger span {
      transition: transform 0.3s, opacity 0.3s;
    }
    
    .navbar .menu.active {
      display: flex;
      flex-direction: column;
    }
    
    .navbar .menu.active li {
      margin-right: 0;
      margin-bottom: 1.2rem;
    }

    #intro h2 {
      
      color: white;
      margin-bottom: 2rem;
      font-size: 4rem;
      text-align: center;
      display: block;
      }
    
      #intro h3 {
        color: white;
      font-size: 3rem;
      text-align: center;
      margin-top: 0;
      }
    
      #intro p {
      color: white;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 0;
      }

      #intro-display{

        flex: 50%; 
        
        
        top: 0; 
        height: 80vh;
      }

      .left-side, .right-side {
        flex-basis: 100%;
      }

      .navbar {
        flex-direction: column;
        text-align: center;
      }
      .navbar ul li {
        display: block;
        margin-bottom: 10px;
      }
  
      #game-container {
        position: relative;
        width: 70%;
        
        height: auto;
        display: block;
        margin-left: 15%; 
        
        padding-bottom: 75%; /* Maintain a good aspect ratio  */
        /* By using the padding-bottom property with a percentage value, you can maintain a consistent aspect ratio regardless of the container's width. The percentage value is calculated based on the container's width, creating a proportional height.*/
        border: 1px solid black;
      }

      .additional-content-container {
    
        width: auto;
       
      }
    
      #content-side {
        
        padding-top: 15vh;
        height: auto;
        flex: 100%;
      }
    
      .History-right-side-image {
    
        display: none;
      }
    
      .details-container {
        flex: 100%;
        
      }
    
      .box {
    
        flex: 25%;
        width: 27vw;
        height: 20vh;
        background-color: #eaeaea;
        border: 1px solid black;
        text-align: center;
        
        font-size: 11px;
        
      }
      
  }

 